
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="/products/details" id="Laptop">Laptop</a></li>
    <li><a href="/products/details" id="Tablet">Tablet</a></li>
    <li><a href="/products/details" id="Dektop">Dektop</a></li>
</ul>
